In [6]:
num = int(input())
if num % 2 == 0:
    print("even")
else:
    print("odd")

 50

even

In [3]:
print("even") if num %2 ==0 else print("False")

even

In [4]:
x = 10
result = "Positive" if x > 0 else "Negative"
print(result)

Positive

In [5]:
age = 18
ct = "Adult" if age >= 18 else "minor"
print(ct)

Adult

In [8]:
L = [1,9,2,10,56,89]
[x for x in L if x%2 == 0]

[2, 10, 56]

In [10]:
sal = [ 50000,20000,10000,70000,65000]
[ y for y in sal if y>=50000 ]

[50000, 70000, 65000]

In [11]:
[y*1.2 for y in sal if y <= 50000]

[60000.0, 24000.0, 12000.0]

In [13]:
sal1 = [ 40000 , 60000 , 80000, 45000 ]
[(x*1.2 if x <= 50000 else x) for x in sal]

[60000.0, 24000.0, 12000.0, 70000, 65000]

In [ ]:
{k:sum(v)/len(v) for k,v in d1.itms()}

In [15]:
def mean_values(given_list):
    total = sum(given_list)
    avg_value = total/len(given_list)
    return avg_value

In [ ]:
l = [1,2,3,4,5,6,7,8,9,10]
mean_value(l)

In [16]:
def greet(name):
    
    return f"Good Morning, {name}!"

my_name = "Anjali"
print(greet(my_name))

Good Morning, Anjali!

In [22]:
def avg_value(*n):
    
    if len(n) == 0:  # Handle the case where no arguments are passed
        return 
    
    l = len(n)
    average = sum(n) / l
    return average

# Example usage
r = avg_value(10, 20, 60, 100, 900)
print(r)

218.0