In [1]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as smf
from statsmodels.graphics.regressionplots import influence_plot
df = pd.read_csv('iris.csv')

print("First 5 rows of the dataset:")
print(df.head())

print("\nShape of the dataset (rows, columns):", df.shape)

print("\nDataset info:")
print(df.info())

print("\nDescriptive statistics for numerical features:")
print(df.describe())

First 5 rows of the dataset:
   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

Shape of the dataset (rows, columns): (150, 5)

Dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None

Descriptive statistics for numerical features:
       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [7]:
df['variety'].unique()

array(['Setosa', 'Versicolor', 'Virginica'], dtype=object)

In [5]:
df['variety'].value_counts()

variety
Setosa        50
Versicolor    50
Virginica     50
Name: count, dtype: int64

In [4]:
df['petal.length'].mean()

np.float64(3.7580000000000005)

#### Observations
- There are no null values
- Found 4 numerical values
- One Categorical value(Target)
- Here the numerical columns are independent and Target is the independent
- There are 3 types of Flowers among the dataset
- They are Setosa , Versicolor and Virginica
- There are no duplicate rows
- Equal amount flower quantity in dataset

In [10]:
print(df['petal.length'].mean().round(2))
print(df['petal.width'].mean())
print(df['sepal.length'].mean())
print(df['sepal.width'].mean())

3.76
1.1993333333333336
5.843333333333334
3.0573333333333337