In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\Gaurav\Downloads\Movie.csv")
df

      userId             movie  rating
0          3  Toy Story (1995)     4.0
1          6  Toy Story (1995)     5.0
2          8  Toy Story (1995)     4.0
3         10  Toy Story (1995)     4.0
4         11  Toy Story (1995)     4.5
...      ...               ...     ...
8987    7087  GoldenEye (1995)     3.0
8988    7088  GoldenEye (1995)     1.0
8989    7105  GoldenEye (1995)     2.0
8990    7113  GoldenEye (1995)     3.0
8991    7117  GoldenEye (1995)     3.0

[8992 rows x 3 columns]

In [4]:

print(df.head())
# Get dataset info
print(df.info())

# Check for missing values
print(df.isnull().sum())

# Summary statistics
print(df.describe())

   userId             movie  rating
0       3  Toy Story (1995)     4.0
1       6  Toy Story (1995)     5.0
2       8  Toy Story (1995)     4.0
3      10  Toy Story (1995)     4.0
4      11  Toy Story (1995)     4.5
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8992 entries, 0 to 8991
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   userId  8992 non-null   int64
 1   movie   8992 non-null   object
 2   rating  8992 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 210.9+ KB
None
userId    0
movie     0
rating    0
dtype: int64
            userId       rating
count  8992.000000  8992.000000
mean   3521.880116     3.557162
std    2012.497384     0.967071
min       1.000000     0.500000
25%    1779.000000     3.000000
50%    3530.000000     3.500000
75%    5213.250000     4.000000
max    7120.000000     5.000000

In [7]:
# Number of unique users and movies
print("Unique Users:", df['userId'].nunique())
print("Unique Movies:", df['movie'].nunique())

# Most watched movies
counts = df["movie"].value_counts()

Unique Users: 4081
Unique Movies: 10